$space-large: 2.5rem;
$title-color: #555;

.page-title {
    color: $title-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}

.callout p {
    margin-bottom: 0.1rem;
}

.current-weather.callout, .forecast-weather-list.callout {
    margin-top: 2.5rem;
}

.forecast-weather.callout {
    margin-top: 1rem;
}
